*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# config file which auto load on test
src/test/resources/application.yml
src/test/resources/test-context.xml

# OSX file
.DS_Store

# Gradle project distribution
.gradle/

# Build folder
build/

# IntelliJ project files
spring-data-cloudant.iws
spring-data-cloudant.iml
spring-data-cloudant.ipr
